<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans">
    <bean id="userDao" class="com.spring.sourcecode.springframework.testready.UserDao"></bean>

    <bean id="userService" class="com.spring.sourcecode.springframework.testready.UserService">
        <property name="uId" value="10001"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>
</beans>